<!--todo: global header, navbar, put routerLink for auto linking-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <!--home-->
    <a class="navbar-brand" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!--about us-->
        <!--<li class="nav-item">
    <a class="nav-link" routerLink="aboutus">About Us</a>
  </li>-->
        <!--contact us-->
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus">Contact Us</a>
        </li>
        <!--cars-->
        <li class="nav-item">
          <a class="nav-link" routerLink="cars">Cars</a>
        </li>
        <!--paging cars-->
        <li class="nav-item">
          <a class="nav-link" routerLink="pagingcars">Paging Cars</a>
        </li>
        <!--Weather-->
        <li class="nav-item">
          <a class="nav-link" routerLink="cityweather">Weather</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
