<?xml version="1.0"?>
<!--
1. If total cost exceeds $100,000 apply 5% discount
2. If number of cars is more than 2, apply 3% discount
3. If cars year is before 2000, apply 10% discount
4. The above rules are cumulative (i.e. all of them can be applicable at the same time)

-->
<appSettings>
	<add key="CostExceedLimit" value="100000" />
	<add key="CostExceedDiscount" value="5" />
	<add key="NumberOfCarsLimit" value="2" />
	<add key="NumberOfCarsDiscount" value="3" />
	<add key="YearsLimit" value="2000" />
	<add key="YearsLimitDiscount" value="10" />

</appSettings>